<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Batch Manager</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 50px;
    }

    h1 {
      color: #007bff;
    }

    p {
      color: #6c757d;
    }

    .btn-box {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 0;
      border: 2px solid #007bff;
      border-radius: 5px;
      color: #007bff;
      text-decoration: none;
      transition: all 0.3s ease;
    }

    .btn-box:hover {
      background-color: #007bff;
      color: #fff;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="text-center">
      <h1>Welcome to Our Site</h1>
      <p>Explore your own batches by Login</p>
      <a href="/batches" class="btn-box">Explore Batches</a>
      <hr>
      <p>Check out our saved batches without logging in.</p>
      <a href="/saved/batches" class="btn-box">View Saved Batches</a>
      <a href="/khazana/saved/batches" class="btn-box">View khazana</a>
      <hr>
      <p>Amit Khurana Lectures</p>
      <a href="/amit_khurana" class="btn-box">Amit Khurana</a>
      <hr>
      <p>To use on your phone, install Kiwi Browser.</p>
      <a href="https://play.google.com/store/apps/details?id=com.kiwibrowser.browser" target="_blank">Install Kiwi
        Browser</a>
      <br><br>
      <p><b>Note:</b> Make sure to install the CORS extension before playing any videos to avoid playback issues.</p>
      <a href="https://chromewebstore.google.com/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf"
        target="_blank">Install CORS Extension for Chrome</a>
      <br>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/" target="_blank">CORS Extension for
        Firefox</a>
      <br>
    </div>
  </div>
</body>

</html>