<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject List Details Saved</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/subjectListDetails.css">
</head>

<body>
    <header>
        <h1>
            Amit Khurana Videos
        </h1>
    </header>
    <div class="container">
        <a href="/amit_khurana/subject/cn" class="mat-card">
            <div class="border-left">
                <h3 class="tile-title">
                    Computer Network
                </h3>
            </div>
        </a>
        <a href="/amit_khurana/subject/dm" class="mat-card">
            <div class="border-left">
                <h3 class="tile-title">
                    Discrete Mathematics
                </h3>
            </div>
        </a>
        <a href="/amit_khurana/subject/os" class="mat-card">
            <div class="border-left">
                <h3 class="tile-title">
                    Operating System
                </h3>
            </div>
        </a>
        <a href="/amit_khurana/subject/dl" class="mat-card">
            <div class="border-left">
                <h3 class="tile-title">
                    Digital Logic
                </h3>
            </div>
        </a>
        <a href="/amit_khurana/subject/toc" class="mat-card">
            <div class="border-left">
                <h3 class="tile-title">
                    Theory of Computation
                </h3>
            </div>
        </a>

    </div>
</body>

</html>